{% extends 'todoApp/base.html' %} {% block content %}

<div class="container">
  <div>
    <form action="/add/" method="POST">
      {% csrf_token %} {{form.as_p}}
      <input type="submit" value="ADD" />
    </form>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{todo.title}}</td>
          <td>
            <a href="{% url 'update' todo.id %}"
              ><button class="btn btn-info">Update</button></a
            >
          </td>
          <td>
            <a href="{% url 'delete' todo.id %}">
              <button class="btn btn-danger">Delete</button></a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock content %}
</div>
